@model Pagos_colegio_web.Models.Pago

@{
    Layout = null; // Para PDF limpio
}

<h2 style="text-align:center">Recibo de Pago</h2>

<p><strong>Estudiante:</strong> @Model.Estudiante.NombreCompleto</p>
<p><strong>Fecha de Pago:</strong> @Model.FechaPago.ToShortDateString()</p>
<p><strong>Recibo ID:</strong> @Model.PagoId</p>
<p><strong>Descuento aplicado:</strong> @Model.Descuento %</p>
<p><strong>Total pagado:</strong> @Model.TotalPago.ToString("C")</p>
