@model IEnumerable<Pagos_colegio_web.Models.Pago>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estudiante)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.TotalPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Periodo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estudiante.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPago)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Periodo)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PagoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PagoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PagoId">Delete</a>
                    <a asp-controller="Reportes" asp-action="GenerarReciboPdf" asp-route-id="@item.PagoId" target="_blank" class="btn btn-sm btn-success">
                        PDF
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
